<?xml version="1.0"?>
<robot name="ur10e_with_robotiq_2f_85" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include UR10e xacro -->
    <xacro:include filename="$(find ur_description)/urdf/ur10e.xacro" />

    <!-- Include Robotiq 2F-85 xacro -->
    <xacro:include filename="$(find robotiq_gripper)/urdf/robotiq_85_gripper.urdf.xacro" />

    <xacro:robotiq_85_gripper prefix="" parent="tool0" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
    </xacro:robotiq_85_gripper> 

    <!-- Include Simulated depth camera xacro -->
    <xacro:include filename="$(find ur10e_gripper)/urdf/camera.xacro"/>
      <xacro:property name="camera_offset_x" value="0.7" />
      <xacro:property name="camera_offset_y" value="0" />
      <xacro:property name="camera_offset_z" value="1.0" />
    <robot_base/>
    <!-- Set camera origin position -->
      <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 1.5708 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
      </joint>
     <xacro:usb_camera prefix="camera"/>

</robot>
