<?xml version="1.0"?>
<launch>

<arg name="urdf_name" default="gazebo_ur10e_with_robotiq_2f_85_camera.urdf" doc="Name of the URDF file"/>

<!-- Launch MoveIt and Gazebo nodes -->
<include file="$(find ur10e_gripper_moveit)/launch/demo_gazebo.launch" pass_all_args="true"></include>

<!-- Set Moveit Scenes -->
<node name="set_moveit_scenes" pkg="ur10e_gripper" type="moveit_scene.py" output="screen"/>
<!-- Start Robotiq controller -->
<node name="robotiq_85_controller" pkg="robotiq_gripper" type="gripper_controller.py" output="screen"/>

<!-- Start Robot node -->
<node name="robot_node" pkg="ur10e_gripper" type="robot_control.py" output="screen"/>
</launch>