<?xml version="1.0"?>
<launch>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur10e_gripper)/cfg/view.rviz" required="true" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find ur10e_gripper)/urdf/ur10e_robotiq_description.xacro'"/>
</launch>
